<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <style>
    body {
      background-color: #f7fafc;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .dashboard-container {
      display: flex;
    }

    .main-content {
      flex: 3;
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-right: 2rem;
    }

    .main-content h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: #2d3748;
    }

    .user-info {
      margin-bottom: 2rem;
    }

    .user-info p {
      font-size: 1rem;
      color: #4a5568;
      margin-bottom: 0.5rem;
    }

    .logout-button {
      background-color: #e53e3e;
      color: #ffffff;
      font-weight: bold;
      padding: 1rem;
      border-radius: 4px;
      text-decoration: none;
      display: inline-block;
      transition: background-color 0.3s;
    }

    .logout-button:hover {
      background-color: #c53030;
    }

    .notification-sidebar {
      flex: 1;
      background-color: #ffffff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .notification-sidebar h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: #2d3748;
    }

    .notification-list {
      list-style-type: none;
      padding: 0;
    }

    .notification-item {
      background-color: #ebf4ff;
      border-left: 4px solid #4299e1;
      color: #2c5282;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 4px;
    }

    .notification-item p {
      font-size: 0.875rem;
      margin: 0;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Seleksi elemen pesan error dan sukses
      const errorMessage = document.querySelector('.error-message');
      const successMessage = document.querySelector('.success-message');

      // Fungsi untuk menyembunyikan pesan setelah 5 detik
      function hideMessages() {
        setTimeout(function () {
          errorMessage.style.display = 'none';
          successMessage.style.display = 'none';
        }, 3000);
      }

      // Panggil fungsi saat DOM sudah tereload
      hideMessages();
    });
  </script>
</head>

<body>
  <div class="dashboard-container">
    <div class="main-content">
      <h2>Dashboard</h2>
      <div class="user-info">
        <p><span class="font-semibold">Nama:</span> <%= name %></p>
        <p><span class="font-semibold">Email:</span> <%= email %></p>
      </div>
      <a href="/api/logout" class="logout-button">Logout</a>
    </div>
    <div class="notification-sidebar">
      <h2>Notifikasi</h2>
      <ul class="notification-list">
        <% notifications.map(element => { %>
        <li class="notification-item">
          <p><span class="font-semibold">Info:</span> <%= element.body %></p>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io('http://localhost:3000');
    const notificationList = document.getElementById('notificationList');
    socket.on(`userId-<%= id %>-notification`, function (args) {
      const item = document.createElement('li');
      console.log(args);
      item.innerHTML = `<div class="notification-item">
            <p><span class="font-semibold">Info:</span> ${args.message}</p>
          </div>`;
      notificationList.appendChild(item);
    });
  </script>
</body>

</html>