<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Form</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <style>
    body {
      background-color: #f3f4f6;
    }

    .login-container {
      background-color: #ffffff;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 320px;
    }

    .login-container h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .error-message,
    .success-message {
      background-color: #fee2e2;
      border-left: 4px solid #e53e3e;
      color: #e53e3e;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .success-message {
      background-color: #d1fae5;
      border-left: 4px solid #38a169;
      color: #38a169;
    }

    .form-input {
      width: 100%;
      border: 1px solid #d2d6dc;
      border-radius: 4px;
      padding: 0.5rem;
      margin-bottom: 1rem;
      outline: none;
      transition: border-color 0.3s;
    }

    .form-input:focus {
      border-color: #4299e1;
    }

    .forgot-password-link,
    .register-link {
      color: #3182ce;
      font-size: 0.875rem;
      text-decoration: none;
      transition: color 0.3s;
    }

    .forgot-password-link:hover,
    .register-link:hover {
      color: #2c5282;
    }

    .login-button {
      width: 100%;
      background-color: #4a5568;
      color: #ffffff;
      font-weight: bold;
      padding: 0.75rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .login-button:hover {
      background-color: #2d3748;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Ambil parameter pesan dan status dari URL
      const urlParams = new URLSearchParams(window.location.search);
      const message = urlParams.get('message');
      const status = urlParams.get('status');

      // Seleksi elemen pesan
      const messageElement = document.querySelector('.success-message, .error-message');

      // Fungsi untuk menyembunyikan pesan setelah 3 detik
      function hideMessage() {
        setTimeout(function () {
          messageElement.style.display = 'none';
        }, 3000);
      }

      // Tampilkan pesan dan panggil fungsi penyembunyian
      if (message && status === 'true') {
        messageElement.innerHTML = `<p><span class="font-semibold">Success:</span> ${message}</p>`;
        hideMessage();
      } else if (message && status === 'false') {
        messageElement.innerHTML = `<p><span class="font-semibold">Error:</span> ${message}</p>`;
        hideMessage();
      }
    });
  </script>
</head>

<body class="flex items-center justify-center h-screen">
  <div class="login-container">
    <h2>Login</h2>
    <% if (status === "false") { %>
    <div class="error-message">
      <p><span class="font-semibold">Error:</span> <%= message %></p>
    </div>
    <% } else { %> <% if (message) { %>
    <div class="success-message">
      <p><span class="font-semibold">Success:</span> <%= message %></p>
    </div>
    <% } %> <% } %>
    <form action="/api/login" method="post">
      <div class="mb-4">
        <label for="email" class="block text-gray-600 font-semibold mb-2">Email</label>
        <input type="email" id="email" name="email" class="form-input" />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-600 font-semibold mb-2">Password</label>
        <input type="password" id="password" name="password" class="form-input" />
      </div>
      <div class="flex justify-between items-center mb-4">
        <a href="/forgot-password" class="forgot-password-link">Lupa Password?</a>
        <a href="/register" class="register-link">Register</a>
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</body>

</html>