<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <style>
    body {
      background-color: #f7fafc;
    }

    .register-container {
      background-color: #ffffff;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 320px;
    }

    .register-container h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .success-message {
      background-color: #d1fae5;
      border-left: 4px solid #38a169;
      color: #38a169;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .error-message {
      background-color: #fee2e2;
      border-left: 4px solid #e53e3e;
      color: #e53e3e;
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .form-input {
      width: 100%;
      border: 1px solid #d2d6dc;
      border-radius: 4px;
      padding: 0.5rem;
      margin-bottom: 1rem;
      outline: none;
      transition: border-color 0.3s;
    }

    .form-input:focus {
      border-color: #4299e1;
    }

    .register-button {
      width: 100%;
      background-color: #4a5568;
      color: #ffffff;
      font-weight: bold;
      padding: 0.75rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .register-button:hover {
      background-color: #2d3748;
    }

    .login-link {
      color: #3182ce;
      text-decoration: none;
      transition: color 0.3s;
    }

    .login-link:hover {
      color: #2c5282;
      text-decoration: underline;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Seleksi elemen pesan error dan Success
      const errorMessage = document.querySelector('.error-message');
      const successMessage = document.querySelector('.success-message');

      // Fungsi untuk menyembunyikan pesan setelah 5 detik
      function hideMessages() {
        setTimeout(function () {
          errorMessage.style.display = 'none';
          successMessage.style.display = 'none';
        }, 3000);
      }

      // Panggil fungsi saat DOM sudah tereload
      hideMessages();
    });
  </script>
</head>

<body class="flex items-center justify-center h-screen">
  <div class="register-container">
    <h2>Register</h2>
    <% if (status === "true") { %>
    <div class="success-message">
      <p><span class="font-semibold">Success:</span> <%= message %></p>
    </div>
    <% } else { %> <% if (message) { %>
    <div class="error-message">
      <p><span class="font-semibold">Error:</span> <%= message %></p>
    </div>
    <% } %> <% } %>
    <form action="/api/register" method="post">
      <div class="mb-4">
        <label for="name" class="block text-gray-600 font-semibold mb-2">Nama</label>
        <input type="text" id="name" name="name" class="form-input" required />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-600 font-semibold mb-2">Email</label>
        <input type="email" id="email" name="email" class="form-input" required />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-600 font-semibold mb-2">Password</label>
        <input type="password" id="password" name="password" class="form-input" required />
      </div>
      <button type="submit" class="register-button">Register</button>
    </form>
    <p class="text-sm mt-4 text-gray-600">Sudah punya akun? <a href="/" class="login-link">Login di sini</a></p>
  </div>
</body>

</html>